* {
	box-sizing: border-box;
	font-weight: bold;
	color: #fff6f2;
	user-select: none;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #121214;
	overflow: hidden;
}

main {
	overflow: scroll;
	height: 100vh;
	padding-bottom: 7%;
}

header {
	display: flex;
	flex: 1;
	flex-direction: row;
	height: 12%;
	padding: 10px;
	border-bottom: 2px solid #fff6f2;
	background-color: #121214;
	justify-content: space-around;
	align-items: center;
}

header > h1 {
	flex: 1.2;
	margin: 0 0 0 120px;
	font-size: 45px;
}

header > ul {
	display: flex;
	flex: 1;
	flex-direction: row;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

header li {
	margin-right: 100px;
}

li > a:hover {
	text-decoration: underline;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

button {
	padding: 10px 30px 10px 30px;
	border: none;
	border-radius: 52px;
	background-color: #5888cb;
	font-size: 20px;
}

button:hover {
	background-color: #5460ff;
}

a {
	font-weight: bold;
	text-decoration: none;
}

span {
	color: #433bff;
}