@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
body {
	background-color: #000000;
	background-attachment: fixed;
	background-image: radial-gradient(circle at 50% -75%, #fff6f2 0%, transparent 65%);
}

* {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #fff6f2;
	
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	flex-grow: 2;
	width: 100%;
}

h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
}

label {
	font-size: 10px;
}

div, input[type='button'], input[type='submit'] {
	width: 50%;
}

div {
	background-color: #413d44;
	padding: 0px 20px 10px 20px;
	border-radius: 50px;
	overflow: hidden;
}

input[type='button'], input[type='submit'] {
	background-color: #ffffff !important;
	color: #413d44;
	margin: 0;
	position: relative;
	left: 25%;
	height: 50px;
	border-radius: 10px;
	font-size: 25px;
}

input {
	background-color: transparent;
	border: none;
	width: 100%;
}

a {
	text-decoration: none;
	font-weight: bold;
}