div {
	width: 75%;
	height: 140px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	overflow: hidden;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	text-shadow: 2px 2px 0 #20297A;
}

@keyframes spotlight {
	from {}
	to {
		background-position: 0 35%;
	}
}

@keyframes expand {
	from {}
	to {
		height: 50vh;
	}
}

@keyframes onHover {
	from {}
	to {
		text-shadow: 4px 4px 0 #20297A;
	}
}